<form name="loginForm" novalidate class="loginForm">
  <p>
    sanket@digio.in uses GMAIL?  login using google
  </p>
  <button type="button" class="btn btn-default btn-google " id="btn-google">
    <i class="fa fa-google-plus"></i> Google
  </button>
  <p class="otherOptions">
    <span>OR</span>
  </p>
  <p>
    Proceed with your email address
  </p>
    <input type="email" name="email" ng-model="email"/>
  <p>
    By continuing, I confirm to Terms and Services and Privacy Policy of 
    <a href="https://www.digio.in/">Digio.in</a>
  </p>
  <button type="button" class="btn btn-primary" ng-disabled="!(loginForm.email.$dirty && email!='' && loginForm.email.$valid)">Continue</button>
</form>